substitutions:
  devicename: irreceiver
  uper_devicename: IR Receiver
  device_ip: 192.168.1.33

esphome:
  name: $devicename
  platform: ESP32
  board: esp-wrover-kit

  on_boot:
    priority: -10
    then:
      - servo.write:
          id: my_servo
          level: 0
      - delay: 100ms
      - servo.detach: my_servo
      - lambda: 'id(my_global_timer) = millis();'

  on_loop:
    then:
      - if:
          condition:
            lambda: |-
              if ((millis() > (id(my_global_timer) + 300)) and (id(my_global_attach))) {
                id(my_global_attach) = false;
                return true;
              } else {
                return false;
              }
          then:
            - servo.write:
                id: my_servo
                level: 0
            - delay: 100ms
            - servo.detach: my_servo
            - lambda: 'ESP_LOGD("main", "Dettached");'

globals:
  - id: my_global_level
    type: float
    restore_value: no
    initial_value: '0'
  - id: my_global_timer
    type: ulong
    restore_value: no
    initial_value: '1000000'
  - id: my_global_attach
    type: boolean
    restore_value: no
    initial_value: 'false'

wifi:
  networks:
    - ssid: !secret wifi2_ssid
      password: !secret wifi_pass
    - ssid: !secret wifi_ssid
      password: !secret wifi_pass
    - ssid: !secret wifi3_ssid
      password: !secret wifi_pass
  manual_ip:
    static_ip: $device_ip
    gateway: 192.168.1.1
    subnet: 255.255.255.0
    dns1: !secret dns1
    dns2: !secret dns2

# Enable logging
logger:

# Enable Home Assistant API
api:
  password: !secret api_pass
  reboot_timeout: 0s

ota:
  password: !secret ota_pass

mqtt:
  broker: !secret broker_ip

remote_receiver:
  id: r_r_lg
  pin:
    number: 32
    inverted: true
  dump: lg

  on_lg:
    then:
      - lambda: 'id(my_global_timer) = millis();'
      - lambda: 'id(my_global_attach) = true;'
      - servo.write:
          id: my_servo
          level: !lambda |-
            switch (x.data) {
              case 2011279369:
                id(my_global_level) = 0.15;
                return id(my_global_level);
              case 2011242505:
                id(my_global_level) = 1;
                return id(my_global_level);
              case 2011287561:
                id(my_global_level) = -0.15;
                return id(my_global_level);
              case 2011250697:
                id(my_global_level) = 0;
                return id(my_global_level);
              default:
                id(my_global_level) = 1;
                return 0;
            }
#      - delay: 500ms
#      - servo.detach: my_servo
      - lambda: 'ESP_LOGD("main", "x = %d", x.data);'
      - lambda: 'ESP_LOGD("main", "my_global_level = %f", id(my_global_level));'
      - if:
          condition:
            lambda: |-
              if (id(my_global_level) == 0) {
                return true;
              } else {
                return false;
              }
          then:
            - mqtt.publish:
                topic: Amplificador/SW1
                payload: "SW"
            - lambda: 'ESP_LOGD("main", "SW = %f", id(my_global_level));'

servo:
  - id: my_servo
    output: pwm_output
    idle_level: 7.40%
    min_level: 6%
    max_level: 9.5%
    
output:
  - platform: ledc
    id: pwm_output
    pin: 12
    frequency: 50 Hz
